<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Built in LED</h1>
    <button type="button" onclick=led_on()>ON</button>
    <button type="button" onclick=led_off()>OFF</button>
    <h1> Pin 11</h1>
    <button type="button" onclick=pin_on()>ON</button>
    <button type="button" onclick=pin_off()>OFF</button>
</body>
<script>
        function led_on()
    {
      var request = new XMLHttpRequest();
      var url = '/LED/1';
      request.open("POST", url, true);
      request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
      request.send();
    }
        function led_off()
    {
      var request = new XMLHttpRequest();
      var url = '/LED/0';
      request.open("POST", url, true);
      request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
      request.send();
    }

            function pin_on()
    {
      var request = new XMLHttpRequest();
      var url = '/write_digital/11/1';
      request.open("POST", url, true);
      request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
      request.send();
    }
        function pin_off()
    {
      var request = new XMLHttpRequest();
      var url = '/write_digital/11/0';
      request.open("POST", url, true);
      request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
      request.send();
    }
</script>
</html>